[submodule "reference/libigl"]
	path = reference/libigl
	url = git@github.com:libigl/libigl.git
	branch = main
[submodule "reference/MeshLib"]
	path = reference/MeshLib
	url = git@github.com:MeshInspector/MeshLib.git
	branch = master
[submodule "reference/Open3D"]
	path = reference/Open3D
	url = git@github.com:isl-org/Open3D.git
	branch = main
[submodule "reference/potpourri3d"]
	path = reference/potpourri3d
	url = git@github.com:nmwsharp/potpourri3d.git
	branch = master
[submodule "reference/PyMeshLab"]
	path = reference/PyMeshLab
	url = git@github.com:cnr-isti-vclab/PyMeshLab.git
	branch = main
[submodule "reference/pytorch3d"]
	path = reference/pytorch3d
	url = org-16943930@github.com:facebookresearch/pytorch3d.git
	branch = main
[submodule "reference/pyvista"]
	path = reference/pyvista
	url = git@github.com:pyvista/pyvista.git
	branch = main
[submodule "reference/trimesh"]
	path = reference/trimesh
	url = git@github.com:mikedh/trimesh.git
	branch = main