[submodule "reference/trimesh"]
	path = reference/trimesh
	url = git@github.com:mikedh/trimesh.git
[submodule "reference/libigl"]
	path = reference/libigl
	url = git@github.com:libigl/libigl.git
[submodule "reference/Open3D"]
	path = reference/Open3D
	url = git@github.com:isl-org/Open3D.git
[submodule "reference/PyMesh"]
	path = reference/PyMesh
	url = git@github.com:PyMesh/PyMesh.git
[submodule "reference/pytorch3d"]
	path = reference/pytorch3d
	url = org-16943930@github.com:facebookresearch/pytorch3d.git
[submodule "reference/MeshLib"]
	path = reference/MeshLib
	url = git@github.com:MeshInspector/MeshLib.git
